body{
    font-size: larger;
    display: block;
    text-align: center;
    
    
    }
    #conteiner{
        display: contents;
        align-items: center;
        justify-items: center;
        text-align: center;
    }